html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
ul, li {
	margin: 0;
	padding: 0;
}

li {
	padding: 10px 0;
	border-top: 1px solid #df565b;
}

li:last-child {
	border-bottom: 1px solid #df565b;
}

#app {
	height: 100%;
	position: relative;
}
.weather {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.rain {
	background-image: url('/assets/rain.jpg');
}
.clouds {
	background-image: url('/assets/clouds.jpg')
}
.thunderstorm {
	background-image: url('/assets/thunderstorm.jpg')
}
.drizzle {
	background-image: url('/assets/drizzle.jpg')
}
.sun {
	background-image: url('/assets/sun.jpg')
}
.snow {
	background-image: url('/assets/snow.jpg')
}

.temperature-outer {
	background-color: #1a1a1a;
	display: table;
}
.temperature-box {
	position: absolute;
	left: 0;
	bottom: 5%;
	right: 0;
}

.temperature {
	color: #c6c8ca;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 2.5rem;
}

.temperature-outer {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.transport {	
	min-width: 170px;
	position: absolute;
	padding: 32px;
	border-radius: 10px;
}
.transport.buss {
	right: 5%;
}
.transport.trikk {
	left: 5%;
}

@media(max-width: 740px) {
	.transport {
		top: 200px;
		width: 40%;
		padding: 32px 32px;
		border-radius: 0;
	}
	.transport.buss {
		right: 0;
		text-align: right;
	}
	.transport.trikk {
		left: 0;
	}
	.temperature-box {
		top: 0;
		bottom: auto;
	}

}

.transport {
	z-index: 2;
	color: #c6c8ca;
	background-color: #1a1a1a;
}

.transport li {
	list-style: none;
}